* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .background {
    width: 100%;
    height: 991px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .leftPanel {
    width: 316px;
    height: 991px;
    background: rgba(3,32,77,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .topBar {
    width: 100%;
    height: 124px;
    background: rgba(172,181,193,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 316px;
    box-shadow: 0px 4px 4px rgba(0.0117647061124444, 0.125490203499794, 0.3019607961177826, 1);
    overflow: hidden;
  }
  .asist {
    width: 627px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 25px;
    font-family: Kameron;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .circle {
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 47px;
    left: 52px;
    border-radius: 50%;
  }
  .updateInfoNav {
    width: 207px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 394px;
    left: 90px;
    font-family: Kameron;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .classesNav {
    width: 143px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 496px;
    left: 90px;
    font-family: Kameron;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .financeNav {
    width: 143px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 576px;
    left: 90px;
    font-family: Kameron;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  
  .healthFormsNav {
    width: 207px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 645px;
    left: 90px;
    font-family: Kameron;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .sparkyLogo {
    width: 184px;
    height: 167px;
    background: url("../images/v97_49.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 64px;
    left: 60px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .homeNav {
    width: 98px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 334px;
    left: 90px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Kameron;
    font-weight: Bold;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .centerImageHome {
    width: 80%;
    height: 363px;
    background: url("../images/v97_64.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 153px;
    left: 359px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 4px 4px rgba(0.0117647061124444, 0.125490203499794, 0.3019607961177826, 1);
    overflow: hidden;
  }
  .servicesBox {
    width: 618px;
    height: 67px;
    background: rgba(172,181,193,1);
    opacity: 1;
    position: absolute;
    top: 546px;
    left: 569px;
    box-shadow: 0px 4px 4px rgba(0.0117647061124444, 0.125490203499794, 0.3019607961177826, 1);
    overflow: hidden;
  }
  .servicesText {
    width: 542px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 38px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 34px;
    opacity: 1;
    text-align: center;
  }
  .leftMainBox {
    width: 385px;
    height: 245px;
    background: rgba(71,92,123,1);
    opacity: 1;
    position: absolute;
    top: 730px;
    left: 412px;
    box-shadow: 0px 4px 4px rgba(0.0117647061124444, 0.125490203499794, 0.3019607961177826, 1);
    overflow: hidden;
  }
  .infoBubble1 {
    width: 356px;
    height: 48px;
    background: rgba(172,181,193,1);
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0.0117647061124444, 0.125490203499794, 0.3019607961177826, 1);
    overflow: hidden;
  }
  .infoBubble1Text {
    width: 194px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 5px;
    left: 81px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 26px;
    opacity: 1;
    text-align: center;
  }
  .infoBubble2 {
    width: 356px;
    height: 48px;
    background: rgba(172,181,193,1);
    opacity: 1;
    position: absolute;
    top: 99px;
    left: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0.0117647061124444, 0.125490203499794, 0.3019607961177826, 1);
    overflow: hidden;
  }
  .infoBubble2Text {
    width: 261px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 5px;
    left: 47px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 26px;
    opacity: 1;
    text-align: center;
  }
  .infoBubble3 {
    width: 356px;
    height: 48px;
    background: rgba(172,181,193,1);
    opacity: 1;
    position: absolute;
    top: 167px;
    left: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0.0117647061124444, 0.125490203499794, 0.3019607961177826, 1);
    overflow: hidden;
  }
  .infoBubble3Text {
    width: 305px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 5px;
    left: 25px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 26px;
    opacity: 1;
    text-align: center;
  }
  .titleBubbleMain1 {
    width: 510px;
    height: 73px;
    background: rgba(172,181,193,1);
    opacity: 1;
    position: absolute;
    top: 640px;
    left: 352px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    box-shadow: 0px 4px 4px rgba(0.0117647061124444, 0.125490203499794, 0.3019607961177826, 1);
    overflow: hidden;
  }
  .titleBubbleInformation {
    width: 236px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 15px;
    left: 137px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .titleBubbleMain2 {
    width: 510px;
    height: 73px;
    background: rgba(172,181,193,1);
    opacity: 1;
    position: absolute;
    top: 640px;
    left: 894px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    box-shadow: 0px 4px 4px rgba(0.0117647061124444, 0.125490203499794, 0.3019607961177826, 1);
    overflow: hidden;
  }
  .titleBubbleForms {
    width: 194px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 15px;
    left: 158px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .rightMainBox {
    width: 375px;
    height: 245px;
    background: rgba(71,92,123,1);
    opacity: 1;
    position: absolute;
    top: 730px;
    left: 961px;
    box-shadow: 0px 4px 4px rgba(0.0117647061124444, 0.125490203499794, 0.3019607961177826, 1);
    overflow: hidden;
  }
  .infoBubble4 {
    width: 356px;
    height: 48px;
    background: rgba(172,181,193,1);
    opacity: 1;
    position: absolute;
    top: 172px;
    left: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0.0117647061124444, 0.125490203499794, 0.3019607961177826, 1);
    overflow: hidden;
  }
  .infoBubble4Text {
    width: 238px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 5px;
    left: 59px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 26px;
    opacity: 1;
    text-align: center;
  }
  .infoBubble5 {
    width: 356px;
    height: 48px;
    background: rgba(172,181,193,1);
    opacity: 1;
    position: absolute;
    top: 99px;
    left: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0.0117647061124444, 0.125490203499794, 0.3019607961177826, 1);
    overflow: hidden;
  }
  .infoBubble5Text {
    width: 194px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 5px;
    left: 81px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 26px;
    opacity: 1;
    text-align: center;
  }
  .infoBubble6 {
    width: 356px;
    height: 48px;
    background: rgba(172,181,193,1);
    opacity: 1;
    position: absolute;
    top: 26px;
    left: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0.0117647061124444, 0.125490203499794, 0.3019607961177826, 1);
    overflow: hidden;
  }
  .infoBubble6Text {
    width: 194px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 5px;
    left: 81px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 26px;
    opacity: 1;
    text-align: center;
  }
  